<div class="container">
    <div class="section">
        <div class="section-title">
            <h2>symptômes du Coronavirus</h2>
            <p>Le coronavirus peut provoquer divers symptômes, allant de légers à graves, selon les individus et leur état de santé général. Voici les principaux symptômes observés.</p>
        </div>
        <div class="card-grid">
            <div class="card">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2888.820089317486!2d1.440804076628504!3d43.61028745520455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebb5ff516de27%3A0xa14d9ef2fd0c2d45!2sPharmacie%20des%20Pyr%C3%A9n%C3%A9es!5e0!3m2!1sfr!2sfr!4v1743700831758!5m2!1sfr!2sfr" width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <app-card-contact
                title="Pharmacie Des Pyrenees"
                address="77 Boulevard de Strasbourg, 31000 Toulouse"
                buttonLabelStroked="Voir sur la carte"
                buttonUrlStroked="https://maps.app.goo.gl/KZipjGYHrkGPcfPa9"
                buttonLabel="06 61 21 83 19"
                customClass="a-button-stroked"></app-card-contact>
            </div>
            <div class="card">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2888.820089317486!2d1.440804076628504!3d43.61028745520455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebb5ff516de27%3A0xa14d9ef2fd0c2d45!2sPharmacie%20des%20Pyr%C3%A9n%C3%A9es!5e0!3m2!1sfr!2sfr!4v1743700831758!5m2!1sfr!2sfr" width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <app-card-contact
                title="Pharmacie Des Pyrenees"
                address="77 Boulevard de Strasbourg, 31000 Toulouse"
                buttonLabelStroked="Voir sur la carte"
                buttonUrlStroked="https://maps.app.goo.gl/KZipjGYHrkGPcfPa9"
                buttonLabel="06 61 21 83 19"
                customClass="a-button-stroked"></app-card-contact>
            </div>
            <div class="card">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2888.820089317486!2d1.440804076628504!3d43.61028745520455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebb5ff516de27%3A0xa14d9ef2fd0c2d45!2sPharmacie%20des%20Pyr%C3%A9n%C3%A9es!5e0!3m2!1sfr!2sfr!4v1743700831758!5m2!1sfr!2sfr" width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <app-card-contact
                title="Pharmacie Des Pyrenees"
                address="77 Boulevard de Strasbourg, 31000 Toulouse"
                buttonLabelStroked="Voir sur la carte"
                buttonUrlStroked="https://maps.app.goo.gl/KZipjGYHrkGPcfPa9"
                buttonLabel="06 61 21 83 19"
                customClass="a-button-stroked"></app-card-contact>
            </div>
        </div>
    </div>
</div>