<div class="container">
    <div class="section">
        <div class="section-title">
            <h2>symptômes du Coronavirus</h2>
            <p>Le coronavirus peut provoquer divers symptômes, allant de légers à graves, selon les individus et leur état de santé général. Voici les principaux symptômes observés.</p>
        </div>
        <div class="card-grid">
            <app-card content="Chez un adulte, on parle en général de fièvre lorsque la température interne du corps dépasse 38°C." title="Forte fièvre" imagesrc="../../assets/fievre.png"></app-card>
            <app-card content="La toux est l'expiration brusque et sonore de l'air contenu dans les poumons provoquée par une irritation des voies respiratoires." title="Toux" imagesrc="../../assets/toux.png"></app-card>
            <app-card content="Cette douleur très fréquente se traduit par des picotements, une sensation de brûlure, d'arrachement au fond de la gorge." title="Gorge irritée" imagesrc="../../assets/maux_de_gorge.png"></app-card>
            <app-card content="Une migraine dure entre 4 et 72 heures selon sa sévérité." title="Migraine" imagesrc="../../assets/maux_de_tete.png"></app-card>
            <app-card content="La perte du goût dure en moyenne deux semaines, mais la perte d'odorat peut persister plus ou moins longtemps selon les individus." title="Perte d'odorat ou de goût" imagesrc="../../assets/fievre.png"></app-card>
            <app-card content="douleurs musculaires ou articulaires, mal au dos, avec sensation de faiblesse motrice, d'engourdissement désagréable ou de fourmillement au niveau des membres." title="Douleurs musculaires" imagesrc="../../assets/maux_de_gorge.png">></app-card>
        </div>
    </div>
</div>